<!-- Product Name -->
<div class="graphic-header">
  <!-- Add Object  -->
  <div class="add">
    <button class="button-mini style-reverse and-text" v-on:click="addObject">
      <i class="icon-add">オブジェクトを追加</i>
    </button>
  </div>
</div>

<!-- Page: 1 -->
<div class="frame frame-style graphic-task">
  <!-- Navigation -->
  <div class="graphic-navigation">
    <p class="title">
      <input class="input" type="text" size="12" name="Product" value="" placeholder="Product Name" v-model="product">
    </p>
  </div>

  <!-- Main -->
  <div class="graphic-main area">
    <p class="task-lead">なにをしますか</p>
    <ul id="graph-task-action-list" class="list" v-if="objects.length">
      <li v-for="(action, index) in objects[activeObjectIndex].actions">
        <input type="text" size="8" placeholder="Action" v-model="objects[activeObjectIndex].actions[index]" />
        <button class="button-mini style-reverse" v-on:click="removeAction(index, objects[activeObjectIndex])">
          <i class="icon-remove" alt="Remove"></i>
        </button>
      </li>
      <li class="add">
        <button class="button-mini and-text" v-on:click="addAction(objects[activeObjectIndex])">
          <i class="icon-add">行うことを追加</i>
        </button>
      </li>
    </ul>
    <p v-else class="graphic-caption">データがありません</p>
  </div>
</div>

<!-- Page: 2 -->
<div class="frame frame-style graphic-task">
  <!-- Navigation -->
  <div class="graphic-navigation">
    <p class="title">
      <input class="input" type="text" size="12" name="Product" value="" placeholder="Product Name" v-model="product">
    </p>
  </div>

  <!-- Main -->
  <div class="graphic-main area">
    <div v-if="objects.length">
      <p class="task-lead">なにに対して {{ objects[activeObjectIndex].actions[0] }} しますか</p>
      <div class="main">
        <ul id="graph-task-object-list"
            class="list">
          <li v-for="(object, index) in objects" v-bind:key="object.id">
            <input type="text" size="8" placeholder="Object" v-model="object.name" />
            <button class="button-mini style-reverse" v-on:click="removeObject(index, object)">
              <i class="icon-remove" alt="Remove"></i>
            </button>
          </li>
        </ul>
      </div>
    </div>
    <p v-else class="graphic-caption">データがありません</p>
  </div>
</div>

<!-- Page: 3 -->
<div class="frame frame-style graphic-task">
  <!-- Navigation -->
  <div class="graphic-navigation">
    <p class="title">
      <input class="input" type="text" size="12" name="Product" value="" placeholder="Product Name" v-model="product">
    </p>
  </div>

  <!-- Main -->
  <div v-if="objects.length" class="graphic-main">
    <div class="task-property-buttons">
      <button class="button-mini and-text" v-on:click="addProperty(objects[activeObjectIndex])">
        <i class="icon-add">プロパティを追加</i>
      </button>
    </div>
    <table id="graph-task-property-list" class="task-property-table">
      <thead class="head">
        <tr>
          <th>
            <i class="icon-check-off"></i>
          </th>
          <th v-for="(property, index) in objects[activeObjectIndex].properties"
              v-bind:key="objects[activeObjectIndex].id">
            <input type="text" size="6" placeholder="Property" v-model="objects[activeObjectIndex].properties[index]" />
            <button class="button-mini" v-on:click="removeProperty(index, objects[activeObjectIndex])">
              <i class="icon-remove" alt="Remove"></i>
            </button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="active">
          <td>
            <i class="icon-check-on"></i>
          </td>
          <td v-for="(property, index) in objects[activeObjectIndex].properties"
              v-bind:key="objects[activeObjectIndex].id">
            <span>{{ property }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <i class="icon-check-off"></i>
          </td>
          <td v-for="(property, index) in objects[activeObjectIndex].properties"
              v-bind:key="objects[activeObjectIndex].id">
            <span>{{ property }}</span>
          </td>
        </tr>
        <tr>
          <td>
            <i class="icon-check-off"></i>
          </td>
          <td v-for="(property, index) in objects[activeObjectIndex].properties"
              v-bind:key="objects[activeObjectIndex].id">
            <span>{{ property }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <p v-else class="graphic-caption padding">データがありません</p>
</div>